.hidden{
  display: none;
}

.container{
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
}
.row{
  display: flex;
  flex-wrap: wrap;
}
.column-full{
  width: 100%;
}
header{
  text-align: center;
}
h1{
  font-family: 'Lobster', sans-serif;
}
.form-section{
  display: flex;
  flex-direction: column;
  width: 55%;
  margin: auto;
}
.form-input{
  height: 2.5rem;
}
input{
  margin-bottom: 1rem;
}
main{
  margin-top: 8rem;
}
button{
  width: 30%;
  margin: auto;
  height: 3rem;
}
.scores-header{
  text-align: center;
}
.score-box-1{
  width: 45%;
  margin: 2rem auto;
  text-align: center;
}
ul > li{
  display: inline-block;
  position: relative;
  bottom: 12rem;
}
.schedule-box{
  width: 55%;
  margin: 2rem auto;
}
.schedule-header{
  text-align: center;

}
.stats-header{
  text-align: center;
}
.stats-box{
  text-align: center;
  width: 50%;
  margin: auto;
}
.player{
  text-align: center;
  width: 100%;
}
.upcoming-schedule{
  text-align: center;
}
.schedule-box-2{
  width: 100%;
  text-align: center;
}

@media only screen and (max-width: 375px) and (orientation: portrait){
  .navbar{
    width: max-content;
    position: relative;
    right: 2rem;
    font-size: small;
  }
  header{
    margin-top: 4rem;
  }
  button{
    width: 50%;
  }
  .form-section{
    margin-top: 1.5rem;
    width: 50%;
  }
  .scores-header{
    width: 100%;
    position: relative;
    bottom: 2rem;
  }
  .score-box-1{
    width: 100%;
    position: relative;
    bottom: 4rem;
  }
  .schedule-header{
    position: relative;
    bottom: 5rem;
  }
  .schedule-box{
    width: 90%;
    position: relative;
    bottom: 9rem;

  }

  .stats-header{
    position: relative;
    bottom: 6rem;
  }
  .stats-box{
    width: 90%;
    position: relative;
    bottom: 6rem;
  }

}



@media only screen and (max-width: 667px) and (orientation: landscape){
  h1{
    position: relative;
    top: 1rem;
  }
  .navbar{
    position: relative;
    bottom: 64px;
  }

  .schedule-box{
    text-align: center;
  }
  .score-box-1{
    width: 80%;
    position: relative;
    top: 1px;
  }
}

@media only screen and (max-width: 1024px) and (orientation: landscape){

  .scores-header{
    position: relative;
    bottom: 6rem;
  }
  .score-box-1{
    position: relative;
    bottom: 8rem;
    width: 90%;
  }
  .stats-header{
    margin-bottom: 4rem;
  }
  .stats-box{
    margin-bottom: 8rem;
  }
  .schedule-header{
    position: relative;
    bottom: 6rem;
  }
  .schedule-box{
    position: relative;
    bottom: 2rem;
  }

  .stats-header{
    position: relative;
    bottom: 6rem;
  }
  .stats-box{
    position: relative;
    bottom: 4rem;
  }
  .upcoming-schedule{
    position: relative;
    bottom: 4rem;
  }
  .schedule-box-2{
    position: relative;
    bottom: 3rem;
  }
  .navbar{
    position: relative;
    right: 2.5rem;
    font-size: small;
    bottom: 10px;
  }
}

@media only screen and (max-width: 768px) and (orientation: portrait){
  .navbar{
    position: relative;
    bottom: 45px;
  }
  h1{
    position: relative;
    top: 2rem;
  }
  .schedule-header{
    padding-bottom: 5rem;
  }

  .schedule-box{
    text-align: center;
    position: relative;
    bottom: 2rem;
  }

  .score-box-1{
    width: 80%;

  }
  .stats-header{
    margin-bottom: 5rem;
  }
  .stats-box{
    margin-bottom: 22rem;
  }
  .upcoming-schedule{
    margin-bottom: 22rem;
  }
  .schedule-box-2{
    position: relative;
    bottom: 19rem;
  }

}

@media only screen and (max-width: 320px) and (orientation: portrait){
.navbar{
  width: max-content;
  position: relative;
  right: 38px;
  font-size: x-small;
}
  h1{
    position: relative;
    top: 1rem;
  }
  .scores-header{
    margin-bottom: 4rem;
  }
  .schedule-box-2{
    position: relative;
    bottom: 45px;
  }
  .schedule-header{
    position: relative;
    bottom: 4rem;
  }

  .upcoming-schedule{
    position: relative;
    bottom: 65px;
  }


}


@media only screen and (max-width: 568px) and (orientation: landscape){
h1{
  position: relative;
  top: 2rem;
}
.schedule-box{
  position: relative;
  top: 2rem;
}
.scores-header{
  margin-bottom: 4rem;
}
.schedule-box-2{
  position: relative;
  top: 2rem;
}

}
