.hidden{
  display: none;
}

.container{
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
}
.row{
  display: flex;
  flex-wrap: wrap;
}
.column-full{
  width: 100%;
}
header{
  text-align: center;
}
h1{
  font-family: 'Lobster', sans-serif;
}
.form-section{
  display: flex;
  flex-direction: column;
  width: 35%;
  margin: auto;
}
input{
  margin-bottom: 1rem;
}
main{
  margin-top: 8rem;
}
button{
  width: 30%;
  margin: auto;
}
.scores-header{
  text-align: center;
}
.score-box-1{
  width: 45%;
  margin: 2rem auto;
  text-align: center;
}
ul > li{
  display: inline-block;
}
.schedule-box{
  width: 55%;
  margin: 2rem auto;
}
.schedule-header{
  text-align: center;

}
.stats-header{
  text-align: center;
}
.stats-box{
  text-align: center;
  width: 50%;
  margin: auto;
}
.player{
  text-align: center;
  width: 100%;
}

@media only screen and (max-width: 768px){
  button{
    width: 50%;
  }
  .form-section{
    margin-top: 1.5rem;
    width: 50%;
  }
  .scores-header{
    width: 100%;
  }
  .score-box-1{
    width: 90%;
  }
  .schedule-box{
    width: 90%;
  }
  ul > li{
    position: relative;
    right: 2rem;
    bottom: 1rem;
  }
  .stats-box{
    width: 80%;
  }
}
