body{
  background-color: #4A6FA5;
}
header {
  background-color: #4A6FA5;
  color: white;
  font-size: x-large;
}
button{
  font-family: 'Lobster', sans-serif;
  font-weight: 400;
  background-color: white;
  color: #4A6FA5;
  margin-top: 3rem;
  font-size: medium;
}

input{
  color: #4A6FA5;
  font-family: 'Abel', sans-serif;
  font-weight: 400;
}

.header{
  font-family: 'Lobster', sans-serif;
  color: white;
}
.score-box-1{
  font-family: 'Vast Shadow', sans-serif;
  color: #4A6FA5;
  background-color: white;
}
.scores-header, .schedule-header{
  color: white;
}
.schedule-box{
  background-color: white;
  font-family: 'Vast Shadow', sans-serif;
  color: #4A6FA5;
}
ul > li{
  color: white;
  font-family: 'Lobster', sans-serif;
}
li{
  margin: 0 5px;
}

.stats-box{
  background-color: white;
  font-family: 'Vast Shadow', sans-serif;
  color: #4A6FA5;
}
.stats-header{
  color: white;
}
.upcoming-schedule{
  color: white;
}
.schedule-box-2{
  font-family: 'Vast Shadow', sans-serif;
}

ul > li:hover, button:hover{
  cursor: pointer;
}
